/**************************************
* BreakpointExamples.jsx
**************************************/
.breakpoints {
  grid-template-columns: auto 1fr;
  grid-template-rows: minmax(50px, auto);
  gap: 0.75rem;
}

.breakpoints-table {
  grid-row: span;
}

/**************************************
* BreakpointMarginsVisual.jsx
**************************************/
.all-breakpoints {
  row-gap: 0.5rem;
}

/* Window Width row */
.no-col-gap {
  grid-template-columns: auto 1fr auto;
}

/* All other container widths */
.container-margin-ex {
  column-gap: 0.5rem;
  grid-template-columns: auto 1fr auto;
}

.ex-padded {
  padding: 0.5rem;
}

/**************************************
* FullWidthExContainer.jsx
**************************************/
.ex-container {
  color: var(--platinum);
  font-weight: bold;
}
