.challenge-info {
  grid-template-rows: max-content 3rem;
}

/**************************************
* Recursive Square
**************************************/
.recursive-square {
  height: 100%;
  width: 100%;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: 1rem;
}
