.challenge-info {
  grid-template-rows: max-content 3rem;
}

/****************
* Square Knot
*****************/
.square-knot {
  grid-template-columns: repeat(7, 125px);
  grid-template-rows: repeat(7, 125px);
  column-gap: 0;
}

.square-knot * {
  display: grid;
  place-items: center;
  font-weight: bold;
}

/* Universal blank spaces */

.h-blank {
  grid-column: span 1;
  grid-row: span 2;
}

.v-blank {
  grid-column: span 2;
  grid-row: span 1;
}

/* Unstyled Knot Segments */

.knot-3-wide {
  grid-column: span 3;
}

.knot-full {
  grid-column: span 7;
}

/* Knot Curved Single Blocks */

.tl-curve {
  border-top-left-radius: 100%;
}

.bl-curve {
  border-bottom-left-radius: 100%;
}

.tr-curve {
  border-top-right-radius: 100%;
}

.br-curve {
  border-bottom-right-radius: 100%;
}

.h-overlap {
  grid-column: span 3;
}

.v-overlap {
  grid-row: span 3;
}

.v-top-inter {
  border-bottom: 5px solid;
}

/* Directional gradients to black */
.l-to-black {
  background: linear-gradient(to right, var(--vivid) 50%, var(--purp));
}

.r-to-black {
  background: linear-gradient(to left, var(--vivid) 50%, var(--purp));
}

.t-to-black {
  background: linear-gradient(to bottom, var(--vivid) 50%, var(--purp));
}

.b-to-black {
  background: linear-gradient(to top, var(--vivid) 50%, var(--purp));
}

/**************************************
* Recursive Square
**************************************/
.recursive-square {
  height: 100%;
  width: 100%;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: 1rem;
}
