/* Center the container by auto setting left-right margins */
.container {
  margin: 0 auto;
}

/*
 * Manage the container's width at different screen widths
 *
 * Below desktop size we want our container to be the full window width,
 * but pad the container's contents on each side by 2rem.
 *
 * Above it, we ensure a 32px space on the container, per side, per breakpoint
 */
@media (max-width: 1023px) {
  .container {
    padding: 0 2rem;
  }
}

/* Desktop (1024px to 1215px) | 960px wide */
@media (min-width: 1024px) and (max-width: 1215px) {
  .container {
    max-width: calc(var(--desktop) - var(--container-margin));
  }
}

/* laptop (1216px to 1407px) | 1152px wide */
@media (min-width: 1216px) and (max-width: 1407px) {
  .container {
    max-width: calc(var(--widescreen) - var(--container-margin));
  }
}

/* FullHD (>1408px) | 1344px wide */
@media (min-width: 1408px) {
  .container {
    max-width: calc(var(--fullhd) - var(--container-margin));
  }
}
