/* Center the container by auto setting left-right margins */
.container {
  margin: 0 auto;
}

.container article.text {
  margin: 5rem auto;
  width: 75%;
}

/*
 * Below desktop size, our container is the full browser width.
 * We instead pad the container by (½ * --container-margin), 32px
 *
 * Above it, we ensure at least 32px space per container side
 */
@media (max-width: 1023px) {
  .container {
    padding: 0 32px;
  }

  .container article.text {
    margin: 2rem auto;
    width: 80%;
  }
}

/* Desktop (1024px to 1215px) | 960px wide */
@media (min-width: 1024px) and (max-width: 1215px) {
  .container {
    max-width: calc(var(--desktop) - var(--container-margin));
  }
}

/* laptop (1216px to 1407px) | 1152px wide */
@media (min-width: 1216px) and (max-width: 1407px) {
  .container {
    max-width: calc(var(--widescreen) - var(--container-margin));
  }
}

/* FullHD (>1408px) | 1344px wide */
@media (min-width: 1408px) {
  .container {
    max-width: calc(var(--fullhd) - var(--container-margin));
  }
}
