.container {
  margin: 0 auto;
}

/* Manage the container's width at different screen widths */
@media (max-width: 1023px) {
  .container {
    padding: 0 2rem;
  }
}

@media (min-width: 1024px) and (max-width: 1215px) {
  .container {
    max-width: var(--desktop);
  }
}

@media (min-width: 1216px) and (max-width: 1407px) {
  .container {
    max-width: var(--widescreen);
  }
}

@media (min-width: 1408px) {
  .container {
    max-width: var(--fullhd);
  }
}
