/*
 * Three Column Article Example Layout
 */
.classic-article-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  color: black;
  background-color: burlywood;
  margin-top: 2rem;
  border-radius: 0.75rem;
  font-family: "Times New Roman", Times, serif;
}

.classic-article-grid > * {
  padding: 1rem;
}

.classic-article-grid h3 {
  font-family: "Playfair Display";
  font-weight: bold;
  margin-top: -1rem;
}

header {
  grid-column: span 12;
  grid-row: span 1;
  border-bottom: 2px solid black;
}

.sidebar-left {
  grid-column: span 2;
  grid-row: span 2;
}

.article {
  grid-column: span 8;
  grid-row: span 2;
}

.byline {
  grid-column: span 2;
  grid-row: span 1;
  text-align: right;
  height: fit-content;
  background-color: aqua;
}

.ad {
  position: sticky;
  position: -webkit-sticky;
  margin: 1.5rem 0 3rem;
  top: 2rem;
  padding: 0.75rem;
  grid-column: span 2;
  grid-row: span 1;
  text-align: right;
}

.ad img {
  width: 100%;
  height: 60%;
  object-fit: cover;

  border-radius: 0.75rem;
}

@media (max-width: 768px) {
  .article {
    grid-column: span 10;
  }
  .sidebar-left {
    grid-column: span 12;
    grid-row: 4;
  }
}

footer {
  grid-column: span 12;
  border-top: 2px solid black;
}

/*
 * Recent Photos Collage Example Layout
 */
.picture-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 7.5vw);
  background-color: var(--plum);

  padding: 1.5rem;
  gap: 0.75rem;
  border-radius: 0.75rem;
}

.picture-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titling {
  grid-column: span 2;
  grid-row: span 1;
  display: grid;
  place-items: center;
}

.titling h4 {
  margin: 0;
}

.top-horiz {
  grid-column: span 4;
  grid-row: span 1;
}

.tall {
  grid-column: span 2;
  grid-row: span 3;
}

.side-1 {
  grid-column: span 2;
  grid-row: span 2;
}

.side-2 {
  grid-column: span 2;
  grid-row: span 1;
}
