.code-wrapper {
  margin-top: 2.25rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.code-label {
  grid-column: 2/-1;
  padding: 0 1rem;
  background-color: var(--night);
  border-width: 2px 2px 0;
  border-style: solid;
  border-color: var(--stark);
}

pre.example-code {
  grid-column: span 1;
  margin: 0;
  padding: 1rem;
  background-color: var(--jewel);
}

.explanation {
  grid-column: span 1;
  padding: 1rem;
  background-color: var(--night);
}
