/**************************************
* Grid Example Base Styles
**************************************/
.grid {
  display: grid;
}

.example,
.mdn-quote {
  margin: 3rem 0;
}

.example + .example {
  margin: 0;
}

.filled {
  background-color: var(--purp);
  min-height: 100px;
}

@media screen and (max-width: 1216px) {
  .example {
    grid-template-columns: 1fr;
  }
}

.outer-border {
  border: 2px solid var(--vivid);
  padding: 1rem;
  border-radius: 0.75rem;
}

.outer-border div {
  display: grid;
  place-items: center;
  color: var(--platinum);
  font-weight: bold;
}

/**************************************
* Specific Grid Examples
**************************************/
.two-cols,
.twelve-cols,
.four-cols,
.basic-rows-cols,
.mixed-rows-cols {
  gap: 0.75rem;
}

.basic-rows-cols {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.mixed-rows-cols {
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-rows: 3fr 2fr 1fr;
}

.two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.twelve-cols {
  grid-template-columns: repeat(12, 1fr);
}

.four-cols {
  grid-template-columns: repeat(4, 1fr);
}

/**************************************
* MindTheGap.jsx
**************************************/
.no-gap {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 100px);
}

.no-gap :first-child,
.no-gap :last-child {
  background-color: var(--jewel);
}

.no-gap :nth-child(2),
.no-gap :nth-child(3) {
  color: black;
  background-color: var(--vivid);
}
