.grid {
  display: grid;
}

/*
 * Three Column Article Example Layout
 */

.classic-article {
  grid-template-columns: repeat(12, 1fr);

  color: black;
  background-color: burlywood;
  margin-top: 2rem;
  border-radius: 0.75rem;
  font-family: "Times New Roman", Times, serif;
}

.classic-article > * {
  padding: 1rem;
}

.classic-article h3 {
  font-family: "Playfair Display";
  font-weight: bold;
  margin-top: -1rem;
}

header {
  grid-column: span 12;
  grid-row: span 1;
  border-bottom: 2px solid black;
}

.sidebar-left {
  grid-column: span 2;
  grid-row: span 2;
}

.sidebar-left a {
  font-style: italic;
  color: darkslategray;
}

.article {
  grid-column: span 8;
  grid-row: span 2;
}

.byline {
  grid-column: span 2;
  grid-row: span 1;
  text-align: right;
  height: fit-content;
  background-color: aqua;
}

.ad {
  position: sticky;
  position: -webkit-sticky;
  margin: 1.5rem 0 3rem;
  top: 2rem;
  padding: 0.75rem;
  grid-column: span 2;
  grid-row: span 1;
  text-align: right;
}

.ad img {
  width: 100%;
  height: 60%;
  object-fit: cover;

  border-radius: 0.75rem;
}

@media (max-width: 768px) {
  .article {
    grid-column: minmax(30ch, 65ch);
  }
  .sidebar-left {
    grid-column: span 12;
    grid-row: 4;
  }
}

footer {
  grid-column: span 12;
  border-top: 2px solid black;
}

/*
 * Recent Photos Collage Example Layout
 */

.picture-collage {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 9vw);
  background-color: var(--vivid);

  padding: 1.5rem;
  gap: 0.75rem;
  border-radius: 0.75rem;
}

.picture-collage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titling {
  grid-column: span 2;
  grid-row: span 1;
  display: grid;
  place-items: center;
}

.titling h4 {
  color: black;
  margin: 0;
}

.top-horiz {
  grid-column: span 4;
  grid-row: span 1;
}

.tall {
  grid-column: span 2;
  grid-row: span 3;
}

.side-1 {
  grid-column: span 2;
  grid-row: span 2;
}

.side-2 {
  grid-column: span 2;
  grid-row: span 1;
}

/* Interactive Grid Cells */

.result-grid {
  grid-column: span 2;

  display: grid;
  grid-template-rows: 50px 100px;
  row-gap: 0.75rem;
  padding: 1rem;
  border: 2px solid var(--vivid);
  border-radius: 0.75rem;
}

.column-controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.75rem;
}

#ex-cols {
  grid-column: span 1;

  display: grid;
  column-gap: 0.75rem;
}

.ex-col {
  background-color: var(--vivid);
  border: 2px solid var(--platinum);
  border-radius: 0.75rem;
}

/* Grid Example Base Styles */

.outer-border {
  margin-top: 2rem;
  border: 2px solid var(--vivid);
  padding: 1rem;
  border-radius: 0.75rem;
}

.outer-border div {
  display: grid;
  place-items: center;
  color: var(--platinum);
  font-weight: bold;
}

.generic-ex * {
  height: 100px;
  border: 2px solid var(--platinum);
  border-radius: 0.75rem;
  background-color: var(--purp);
}

/* Specific Grid Examples */

.twelve-cols,
.four-cols {
  gap: 0.75rem;
}

.twelve-cols {
  grid-template-columns: repeat(12, 1fr);
}

.four-cols {
  grid-template-columns: repeat(4, 1fr);
}

/**************************************
* MindTheGap.jsx
**************************************/

.no-gap {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 50px);
}

.no-gap :first-child,
.no-gap :last-child {
  background-color: var(--jewel);
}

.no-gap :nth-child(2),
.no-gap :nth-child(3) {
  color: black;
  background-color: var(--vivid);
}
