.classic-article-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  background-color: burlywood;
  margin-top: 2rem;
  border-radius: 0.75rem;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

.classic-article-grid > * {
  padding: 1rem;
}

.classic-article-grid h3 {
  font-family: "Playfair Display";
  font-weight: bold;
  margin-top: -1rem;
}

header {
  grid-column: span 12;
  border-bottom: 2px solid black;
}

.sidebar-left {
  grid-column: span 2;
}

article {
  grid-column: span 8;
}

.sidebar-right {
  grid-column: span 2;
  text-align: right;
}

footer {
  grid-column: span 12;
  border-top: 2px solid black;
}

.picture-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 7.5vw);
  background-color: var(--plum);

  padding: 1.5rem;
  gap: 0.75rem;
  border-radius: 0.75rem;
}

.picture-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titling {
  grid-column: span 2;
  grid-row: span 1;
  display: grid;
  place-items: center;
}

.titling h3 {
  margin: 0;
}

.top-horiz {
  grid-column: span 4;
  grid-row: span 1;
}

.tall {
  grid-column: span 2;
  grid-row: span 3;
}

.side-1 {
  grid-column: span 2;
  grid-row: span 2;
}

.side-2 {
  grid-column: span 2;
  grid-row: span 1;
}
