.grid {
  display: grid;
}

.example {
  margin: 3rem 0;
}

/*
 * Three Column Article Example Layout
 */

.classic-article {
  grid-template: auto 1fr auto / auto 1fr auto;

  color: black;
  background-color: floralwhite;
  margin-top: 2rem;
  border-radius: 0.75rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.classic-article > * {
  padding: 1rem;
}
.article-title {
  grid-column: 1 / 4;
  border-bottom: 2px solid black;
}

.article-title h3 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  margin-top: 0;
}

.article-text {
  line-height: 1.5;
  padding-bottom: 0;
}

.sidebar-left {
  grid-column: 1 / 2;
}

.sidebar-left a {
  font-style: italic;
  color: darkslategray;
}

.article {
  grid-column: 2 / 3;
}

.ad {
  grid-column: 3 / 4;

  position: sticky;
  position: -webkit-sticky;
  margin: 1.5rem 0 3rem;
  top: 2rem;
  padding: 0.75rem;
  text-align: right;
}

.ad img {
  width: 100%;
  height: 60%;
  object-fit: cover;

  border-radius: 0.75rem;
}

@media (max-width: 1024px) {
  .classic-article {
    grid-template: auto 1fr auto / minmax(30ch, 65ch) 1fr;
  }

  .article {
    grid-column: 1 / 2;
  }

  .ad {
    grid-column: 2 / 3;
  }

  .sidebar-left {
    grid-column: 1/3;
    grid-row: 3;
    display: inline-block;
  }
}

footer {
  grid-column: span 12;
  border-top: 2px solid black;
}

/*
 * Recent Photos Collage Example Layout
 */

.picture-collage {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 9vw);
  background-color: moccasin;

  padding: 1.5rem;
  gap: 0.75rem;
  border-radius: 0.75rem;
}

.picture-collage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photos-titling {
  grid-column: span 2;
  grid-row: span 1;
  display: grid;
  place-items: center;
}

.photos-titling h3 {
  font-family: "Playfair Display", serif;
  color: black;
  margin: 0;
}

.top-horiz {
  grid-column: span 4;
  grid-row: span 1;
}

.tall {
  grid-column: span 2;
  grid-row: span 3;
}

.side-1 {
  grid-column: span 2;
  grid-row: span 2;
}

.side-2 {
  grid-column: span 2;
  grid-row: span 1;
}

/* Interactive Grid Cells */

.interactive {
  grid-column: span 2;

  grid-template-rows: 50px minmax(100px, auto);
  row-gap: 0.75rem;
  padding: 1rem;
  border: 2px solid var(--vivid);
  border-radius: 0.75rem;
}

.column-controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.75rem;
}

.interactive-content {
  grid-column: span 1;
}

.ex-cols {
  column-gap: 0.75rem;
}

.ex-rows {
  row-gap: 0.75rem;
}

.ex-col,
.ex-row {
  background-color: var(--purp);
  border: 2px solid var(--platinum);
  border-radius: 0.75rem;
}

.ex-row {
  min-height: 50px;
}

/* Grid Example Base Styles */

.outer-border {
  margin-top: 2rem;
  border: 2px solid var(--vivid);
  padding: 1rem;
  border-radius: 0.75rem;
}

.outer-border div {
  display: grid;
  place-items: center;
  color: var(--platinum);
  font-weight: bold;
}

.generic-ex * {
  height: 100px;
  border: 2px solid var(--platinum);
  border-radius: 0.75rem;
  background-color: var(--purp);
}

/* Specific Grid Examples */

.twelve-cols,
.four-cols {
  gap: 0.75rem;
}

.twelve-cols {
  grid-template-columns: repeat(12, 1fr);
}

.four-cols {
  grid-template-columns: repeat(4, 1fr);
}

/**************************************
* MindTheGap.jsx
**************************************/

.no-gap {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 100px);
}

.no-gap :first-child,
.no-gap :last-child {
  background-color: var(--jewel);
}

.no-gap :nth-child(2),
.no-gap :nth-child(3) {
  color: black;
  background-color: var(--vivid);
}
