.code-wrapper {
  display: grid;

  column-gap: 1rem;
  padding: 0.75rem;
  margin: 1.5rem 0;
}

.single-code-block {
  grid-column: span 1;
}

@media (max-width: 1216px) {
  .code-wrapper {
    display: flex;
    flex-direction: column;
  }

  .single-code-block {
    flex: 1;
  }

  .single-code-block:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.explanation {
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: var(--plum);
}

.code-label {
  padding: 0 1rem;
  background-color: var(--plum);

  border: 2px solid var(--platinum);
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

pre.example-code {
  margin: 0;
  padding: 1rem;
  background-color: var(--plum);

  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border-left: 2px solid var(--platinum);
  border-bottom: 2px solid var(--platinum);
  border-right: 2px solid var(--platinum);
}

.example-wrapper .ex-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
  height: 100%;
  padding: 0;
  background-color: var(--purp);
}

/* grid-template:
  "expl label" auto
  "expl code" 1fr; */
/* grid-area: expl; */
/* grid-area: label; */
/* grid-area: code; */
