.code-wrapper {
  column-gap: 0.75rem;
  padding: 0.75rem 0;
  margin: 1.5rem 0;
  line-height: 1.35;
}

.single-code-block {
  grid-column: span 1;
}

@media (max-width: 1216px) {
  .code-wrapper {
    display: flex;
    flex-direction: column;
  }

  .single-code-block {
    flex: 1;
  }

  .token-line {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0.5rem;
    white-space: pre-wrap;
  }

  .single-code-block:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.code-label {
  padding: 0 1rem;
  background-color: var(--plum);

  border: 2px solid var(--platinum);
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

pre.example-code {
  margin: 0;
  padding: 1rem;
  background-color: var(--plum);

  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border-left: 2px solid var(--platinum);
  border-bottom: 2px solid var(--platinum);
  border-right: 2px solid var(--platinum);
}

/*  HightlightedElement.jsx */
.highlighted-element {
  margin: 0.75rem 0;
  padding: 0 0.75rem;

  display: grid;
  place-items: center;

  height: 100%;
}

.ex-container {
  color: var(--platinum);
  font-size: var(--size-5);
  font-weight: bold;
}

/* OpenGraphLayout */
.og-image {
  width: 1158px;
  height: 588px;
  padding: 1rem;
  gap: 1rem;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border: 5px solid var(--vivid);
}

.title-space {
  grid-column: span 2;
  grid-row: span 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.og-image h1 {
  font-size: 5.5rem;
  padding: 0 1rem;
  margin-top: 0;
  line-height: 1.1;
}

.og-wrapper {
  padding: 2rem;

  grid-column: span 3;
  grid-row: span 5;
  gap: 1.5rem;
}

.header,
.nav,
.content,
.og-ad,
.footer {
  display: grid;
  width: 100%;
  height: 100%;
  border: 3px solid var(--platinum);
  box-shadow: rgba(248, 31, 255, 0.6) -5px 5px,
    rgba(248, 31, 255, 0.4) -10px 10px, rgba(248, 31, 255, 0.2) -15px 15px,
    rgba(248, 31, 255, 0.1) -20px 20px, rgba(248, 31, 255, 0.05) -25px 25px;
  place-items: center;
  font-size: var(--size-4);
  padding: 0;
}

.header {
  grid-column: span 3;
}

.nav {
  grid-row: span 2;
}

.content {
  grid-column: span 2;
  grid-row: span 3;
}

.og-ad {
  grid-column: span 1;
  grid-row: span 1;
}

.footer {
  grid-column: span 3;
}

/* Layout Challenges */

.single-challenge {
  grid-template-columns: minmax(150px, 25%) 1fr;
  column-gap: 2rem;
}

@media (max-width: 1024px) {
  .single-challenge {
    grid-template-columns: auto;
  }
}

.single-challenge:not(:first-child) {
  margin-top: 2rem;
}
