/**************************************
* ChapterLink.jsx
**************************************/
.chapter-link {
  font-size: var(--size-5);
  color: var(--vivid);
  margin-bottom: 1.5rem;
}

.current-chapter {
  color: var(--platinum);
  text-decoration: none;
}

/**************************************
* CodeWrapper.jsx
**************************************/
.code-wrapper {
  width: 100%;
  column-gap: 0.75rem;
  padding: 0.75rem 0;
  margin: 1.5rem 0;
  line-height: 1.5;
}

.single-code-block {
  grid-column: span 1;
}

@media screen and (max-width: 1216px) {
  .code-wrapper {
    display: flex;
    flex-direction: column;
  }

  .single-code-block {
    flex: 1;
  }

  .token-line {
    display: flex;
    flex-wrap: wrap;
  }

  .single-code-block:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.example-code-label,
.example-code {
  background-color: var(--plum);
}

.example-code-label {
  font-weight: 700;
  padding: 0 1rem;
  border: 2px solid var(--platinum);
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.example-code {
  margin: 0;
  padding: 1rem;

  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border-left: 2px solid var(--platinum);
  border-bottom: 2px solid var(--platinum);
  border-right: 2px solid var(--platinum);
}

/**************************************
* Divider.jsx
**************************************/
hr {
  color: var(--vivid);
  background-color: var(--vivid);
  width: 50%;
  height: 2px;
}

.divider {
  margin-top: 5rem;
  place-items: center;
  font-size: var(--size-1);
  grid-template-columns: 1fr 25px 1fr;
}

/**************************************
* Footnote.jsx
**************************************/
.footnote {
  margin-left: -10px;
  margin-bottom: 3px;
  color: var(--vivid);
}

.styled-link {
  /* RESET */
  text-decoration: none;
  line-height: 1;
  font-weight: 700;

  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 5px;
  overflow: hidden;
  color: var(--platinum);
  vertical-align: bottom;
  transition: color 0.3s ease-out;
  margin-bottom: -2px;
}

.styled-link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(calc(100% - 2px));
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    60deg,
    var(--platinum) 0%,
    var(--vivid) 100%
  );
  transition: transform 0.25s ease-out;
}

.styled-link:hover {
  color: black;
}
.styled-link:hover::before {
  transform: translateY(0);
  transition: transform 0.25s ease-out;
}

.token-line {
  white-space: pre-wrap;
}

/**************************************
* HighlightedElement.jsx
**************************************/
.highlighted-element {
  margin: 3rem 0;
  padding: 0 0.75rem;
  display: grid;
  place-items: center;
  height: 100%;
}

/**************************************
* LayoutChallenges.jsx
**************************************/
.single-challenge {
  grid-template-columns: minmax(150px, 25%) 1fr;
  column-gap: 2rem;
}

@media (max-width: 1024px) {
  .single-challenge {
    grid-template-columns: auto;
  }
}

.single-challenge:not(:first-child) {
  margin-top: 2rem;
}

/**************************************
* MDNQuote.jsx
**************************************/
.mdn-quote {
  background-color: var(--jewel);
  padding: 2rem;
  border: 2px solid white;
  border-radius: 0.75rem;

  grid-template-columns: 1fr 100px;
  grid-template-rows: 50px auto;
}

.mdn-quote h4 {
  font-family: "Noto Sans Mono", monospace;
  margin: 0 0 2rem;
  font-size: var(--size-5);
}

.mdn-body {
  grid-column: span 2;
}

@media screen and (max-width: 768px) {
  .mdn-quote {
    grid-template-columns: 1fr;
  }

  .mdn-logo {
    grid-row: 1;
  }
}

/**************************************
* OpenGraphLayout.jsx
**************************************/
.og-image {
  width: 1158px;
  height: 588px;
  padding: 1rem;
  gap: 1rem;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border: 5px solid var(--vivid);
}

.title-space {
  grid-column: span 2;
  grid-row: span 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.og-image h1 {
  font-size: 5.5rem;
  padding: 0 1rem;
  margin-top: 0;
  line-height: 1.1;
}

.og-wrapper {
  padding: 2rem;

  grid-column: span 3;
  grid-row: span 5;
  gap: 1.5rem;
}

.header,
.nav,
.content,
.og-ad,
.footer {
  display: grid;
  width: 100%;
  height: 100%;
  border: 3px solid var(--platinum);
  box-shadow: rgba(248, 31, 255, 0.6) -5px 5px,
    rgba(248, 31, 255, 0.4) -10px 10px, rgba(248, 31, 255, 0.2) -15px 15px,
    rgba(248, 31, 255, 0.1) -20px 20px, rgba(248, 31, 255, 0.05) -25px 25px;
  place-items: center;
  font-size: var(--size-4);
  padding: 0;
}

.header {
  grid-column: span 3;
}

.nav {
  grid-row: span 2;
}

.content {
  grid-column: span 2;
  grid-row: span 3;
}

.og-ad {
  grid-column: span 1;
  grid-row: span 1;
}

.footer {
  grid-column: span 3;
}

/**************************************
* PageNavigation.jsx
**************************************/
.page-to-page {
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  column-gap: 2rem;
  font-size: var(--size-5);
  margin-top: 2rem;
}
.page-nav-label {
  font-size: var(--size-6);
  margin-bottom: 2rem;
}

/**************************************
* SectionReferences.jsx
**************************************/
.references {
  padding: 1.5rem;
  margin-top: 2rem;

  border: 2px solid var(--vivid);
  border-radius: 1rem;
  margin-bottom: -2rem;
}

.references h4 {
  margin-top: 0;
}

span .inline-link {
  margin-bottom: 1px;
}

/**************************************
* ShowExampleCode.jsx
**************************************/
.show-ex-code {
  grid-template-rows: 50px auto;
}

.btn-ex-code {
  padding: 1rem;
  place-self: center;
}

/**************************************
* SiteFooter.jsx
**************************************/
.site-footer {
  min-height: 10rem;
  margin: 6rem 2rem;
}

.site-nav {
  height: 100%;
  grid-template-columns: 225px 1fr;
  column-gap: 2rem;

  padding: 2rem;
  border: 5px solid var(--platinum);
  box-shadow: rgba(248, 31, 255, 0.8) -5px 5px,
    rgba(248, 31, 255, 0.5) -10px 10px, rgba(248, 31, 255, 0.3) -15px 15px,
    rgba(248, 31, 255, 0.15) -20px 20px, rgba(248, 31, 255, 0.05) -25px 25px;
}

.site-nav h3,
.site-nav h5 {
  margin-top: 0;
}

.site-nav li {
  margin-bottom: 0.75rem;
  list-style: none;
}

/**************************************
* NavSectionLinks.jsx
**************************************/
.all-section-links {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav-info {
  grid-template-rows: 1fr auto;
}

.section-links {
  grid-column: span 1;
}

.nav-active {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1216px) {
  .site-nav {
    grid-template-columns: 1fr 2fr;
  }

  .all-section-links {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1023px) {
  .site-nav {
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .nav-info {
    grid-template-columns: 1fr auto;
    grid-column: span 1;
  }
}

@media screen and (min-width: 850px) and (max-width: 1023px) {
  .all-section-links {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    grid-row: 2;
  }
}

@media screen and (min-width: 600px) and (max-width: 849px) {
  .all-section-links {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 599px) {
  .all-section-links {
    grid-template-columns: 1fr;
  }
}
/**************************************
* SlidingMenu.jsx
**************************************/
h4.menu-titling {
  position: fixed;
  z-index: 10;

  top: -2rem;
  left: 7.5rem;
  transition: 0.75s cubic-bezier(0.65, 0, 0.35, 1); /* ease-in-out cubic */
}

h4.menu-titling.show {
  transform: translate3d(0, 0, 0);
}

h4.menu-titling.hide {
  transform: translate3d(0, -15.2rem, 0);
}

#menu {
  position: fixed;
  background: linear-gradient(to right, var(--vivid) 2%, var(--plum) 2%, black);
  z-index: 9;
  left: 0;
  top: 0;

  width: 500px;
  height: 100vh;
  transition: 0.5s cubic-bezier(0.65, 0, 0.35, 1); /* ease-in-out cubic */
}

#menu.show {
  transform: translate3d(0, 0, 0);
}
#menu.hide {
  transform: translate3d(-100vw, 0, 0);
}

.slide-menu {
  margin-top: 10rem;
  padding: 0 3rem;
  height: calc(100vh - 12.5rem);
  overflow-y: scroll;
}

.slide-menu ul {
  list-style: none;
}

.slide-menu .section-links {
  margin-top: 0;
}

/**************************************
* MenuHamburger.jsx
**************************************/
#menu-btn {
  position: fixed;
  top: 3.5rem;
  left: 2rem;
  z-index: 10;
  background-color: var(--vivid);
  padding: 1rem;
  border-radius: 100%;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0.5rem;
  /* border-radius: 50%; */
  overflow: visible;
}

.hamburger:hover,
.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--platinum);
}

.hamburger-box {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 25px;
  height: 4px;
  background-color: var(--platinum);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Arrow
 */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-5px, 4px, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-5px, -4px, 0) rotate(45deg) scale(0.7, 1);
}
