:root {
  /* Breakpoint Variables */
  /* 768px (largest mobile size), 960, 1152, 1344 all divisible by 12 and 16 */

  --container-margin: 64px;

  --desktop: 1024px;
  --widescreen: 1216px;
  --fullhd: 1408px;

  /* Color Variables */
  --vivid: #f81fff;
  --purp: #9b00a3;
  --jewel: #251796;
  --plum: #2a2139;
  --platinum: #e7dfdd;

  /* Font Variables */
  --size-1: 4rem;
  --size-2: 3rem;
  --size-3: 2.5rem;
  --size-4: 1.8rem;
  --size-5: 1.4rem;
  --size-6: 1.1rem;

  /* Font Base */
  font-size: 16px;
  font-family: "Noto Sans Pro", monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Site Universals */
  color: whitesmoke;
  background-image: url(../../papyrus-dark.webp);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
}

main {
  min-height: calc(100vh - 15rem);
}

/* Font Settings */
p {
  font-size: var(--size-6);
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vampiro One", serif;
  margin-bottom: 0;
  margin-top: 5rem;
}

li {
  margin-bottom: 0.75rem;
}

li a {
  margin-bottom: 2px;
}

h1 {
  font-size: var(--size-1);
  margin-top: 2rem;
  padding-bottom: 2rem;
}

h2 {
  font-size: var(--size-2);
  padding-top: 0;
}

h3 {
  font-size: var(--size-3);
}

h4 {
  font-size: var(--size-4);
}

h5 {
  font-size: var(--size-5);
}

@media screen and (max-width: 1023px) {
  h1 {
    font-size: var(--size-2);
    margin-top: 2rem;
    padding-bottom: 2rem;
  }

  h2 {
    font-size: var(--size-3);
    padding-top: 0;
  }

  h3 {
    font-size: var(--size-4);
  }

  h4 {
    font-size: var(--size-5);
  }

  p,
  .token-line {
    font-size: 0.9rem;
  }
}

del {
  text-decoration-thickness: 4px;
  text-decoration-color: var(--vivid);
}

fieldset {
  margin-top: 2rem;
  border: 3px dotted var(--platinum);
}

.goal {
  display: inline;
  padding: 1rem;
  font-size: var(--size-5);
}

table {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--plum);
  border-radius: 0.75rem;
  border: 2px solid var(--platinum);
  text-align: center;
}

th {
  padding: 0.5rem;
}

button {
  font-size: var(--size-6);
  font-weight: 700;
  font-family: "Noto Sans Pro", monospace;
  background-color: var(--plum);
  border: 2px solid var(--platinum);
  border-radius: 0.75rem;
  color: var(--platinum);
  transition: 0.125s cubic-bezier(0.39, 0.575, 0.565, 1) all;
}

button:hover,
button:focus {
  background-color: var(--purp);
}

button:active {
  background-color: var(--jewel);
}

p + p {
  margin-top: 2rem;
}

section:last-child {
  margin-bottom: 2rem;
}

.title {
  font-weight: bold;
}

.centered-text {
  text-align: center;
}

.dark-text {
  color: var(--purp);
}

.neon-effect {
  text-shadow: 0 0 3px var(--purp), 0 0 7px var(--purp), 0 0 13px var(--purp),
    0 0 25px var(--purp), 0 0 55px var(--purp), 0 0 95px var(--vivid),
    0 0 125px var(--vivid);
}

.inline {
  background-color: var(--plum);
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.references {
  padding: 1.5rem;
  margin-top: 2rem;

  border: 2px solid var(--vivid);
  border-radius: 1rem;
  margin-bottom: -2rem;
}

.references h4 {
  margin-top: 0;
}

span .inline-link {
  margin-bottom: 1px;
}
