:root {
  /* Breakpoint Variables */
  /* 768px (largest mobile size), 960, 1152, 1344 all divisible by 12 and 16 */

  --container-margin: 64px;

  --desktop: 1024px;
  --widescreen: 1216px;
  --fullhd: 1408px;

  /* Color Variables */
  --vivid: #f81fff;
  --purp: #9b00a3;
  --jewel: #251796;
  --plum: #2a2139;
  --platinum: #e7dfdd;

  /* Font Variables */
  --size-1: 4rem;
  --size-2: 3rem;
  --size-3: 2.5rem;
  --size-4: 1.8rem;
  --size-5: 1.4rem;
  --size-6: 1.1rem;

  /* Font Base */
  font-size: 16px;
  font-family: "Noto Sans Pro", monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Site Universals */
  color: whitesmoke;
  background-image: url(../../papyrus-dark.webp);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

hr {
  color: var(--vivid);
  background-color: var(--vivid);
  width: 50%;
  height: 2px;
}

.divider {
  margin-top: 5rem;
  place-items: center;
  font-size: var(--size-1);
  grid-template-columns: 1fr 25px 1fr;
}

/* Font Settings */
p {
  font-size: var(--size-6);
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vampiro One", serif;
  margin-bottom: 0;
  margin-top: 5rem;
}

li {
  margin-bottom: 0.75rem;
}

li a {
  margin-bottom: 2px;
}

h1 {
  font-size: var(--size-1);
  margin-top: 2rem;
  padding-bottom: 2rem;
}

h2 {
  font-size: var(--size-2);
  padding-top: 0;
}

h3 {
  font-size: var(--size-3);
}

h4 {
  font-size: var(--size-4);
}

del {
  text-decoration-thickness: 4px;
  text-decoration-color: var(--vivid);
}

fieldset {
  margin-top: 2rem;
  border: 3px dotted var(--platinum);
}

.goal {
  display: inline;
  padding: 1rem;
  font-size: var(--size-5);
}

table {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--plum);
  border-radius: 0.75rem;
  border: 2px solid var(--platinum);
  text-align: center;
}

th {
  padding: 0.5rem;
}

nav {
  position: sticky;
  position: -webkit-sticky;
  top: 3rem;
  background-image: url(../../memphis-mini-dark.webp);
}

button {
  font-size: var(--size-6);
  font-weight: 700;
  font-family: "Noto Sans Pro", monospace;
  background-color: var(--plum);
  border: 2px solid var(--platinum);
  border-radius: 0.75rem;
  color: var(--platinum);
  transition: 0.125s cubic-bezier(0.39, 0.575, 0.565, 1) all;
}

button:hover,
button:focus {
  background-color: var(--purp);
}

button:active {
  background-color: var(--jewel);
}

p + p {
  margin-top: 2rem;
}

section:last-child {
  margin-bottom: 2rem;
}

.title {
  font-weight: bold;
}

.centered-text {
  text-align: center;
}

.dark-text {
  color: var(--purp);
}

.neon-effect {
  text-shadow: 0 0 3px var(--purp), 0 0 7px var(--purp), 0 0 13px var(--purp),
    0 0 25px var(--purp), 0 0 55px var(--purp), 0 0 95px var(--vivid),
    0 0 125px var(--vivid);
}

.inline {
  background-color: var(--plum);
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.App {
  margin-bottom: 2rem;
}

.references {
  padding: 1.5rem;
  margin-top: 2rem;

  border: 2px solid var(--vivid);
  border-radius: 1rem;
  margin-bottom: -2rem;
}

.references h4 {
  margin-top: 0;
}

.site-nav {
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  padding: 1rem;
  border: 5px solid var(--platinum);
  box-shadow: rgba(248, 31, 255, 0.6) -5px 5px,
    rgba(248, 31, 255, 0.4) -10px 10px, rgba(248, 31, 255, 0.2) -15px 15px,
    rgba(248, 31, 255, 0.1) -20px 20px, rgba(248, 31, 255, 0.05) -25px 25px;
}

.site-nav a {
  font-size: var(--size-5);
  color: var(--platinum);
}

.nav-active {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    60deg,
    var(--platinum) 0%,
    var(--vivid) 100%
  );
}

span .inline-link {
  margin-bottom: 1px;
}
