/**************************************
* BreakpointExamples.jsx
**************************************/
.breakpoints {
  grid-template-columns: auto 1fr;
  grid-template-rows: minmax(100px, auto);
  gap: 0.75rem;
}

.breakpoints-table {
  grid-row: span;
}

.all-breakpoints {
  row-gap: 0.5rem;
}

.container-margin-ex {
  column-gap: 0.5rem;
  grid-template-columns: auto 1fr auto;
}

.ex-padded {
  padding: 0.75rem;
}

.no-col-gap {
  grid-template-columns: auto 1fr auto;
}
