.challenge {
  padding: 2rem;
  margin: 2rem 0;
  column-gap: 0.75rem;
  border: 2px solid var(--vivid);
}

.challenge * {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.filled {
  background-color: var(--purp);
}

/* CHALLENGE #1 */

.three-square {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 50px);
  gap: 1rem;
}

/* CHALLENGE #2 */
.pyramid {
  height: auto;
  gap: 1rem;
  grid-template:
    ". width width width width width"
    "height . . tip . ."
    "height . middle middle middle ."
    "height base base base base base";
  grid-template-columns: 50px repeat(5, 1fr);
  grid-template-rows: 2inner 0 repeat(3, 100px);
}

.pyramid * {
  font-weight: bold;
}

.pyramid *:not(.width):not(.height) {
  border: 2px solid var(--platinum);
  background-color: var(--purp);
}

.pyramid .width {
  grid-area: width;
  border-bottom: 2px dotted var(--platinum);
}

.pyramid .height {
  height: calc(100% - 0.7rem);
  grid-area: height;
  grid-column: 1;
  grid-row: 2 / span 4;
  border-right: 2px dotted var(--platinum);
}

.pyramid .tip {
  grid-area: tip;
}

.pyramid .middle {
  grid-area: middle;
}

.pyramid .base {
  grid-area: base;
}

/* Celtic Knot */

.celtic-knot {
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(7, 100px);
  column-gap: 0;
}

.tl-curve {
  border-top-left-radius: 100%;
}

.bl-curve {
  border-bottom-left-radius: 100%;
}

.tr-curve {
  border-top-right-radius: 100%;
}

.br-curve {
  border-bottom-right-radius: 100%;
}

.h-overlap {
  grid-column: span 3;
  background-color: aqua;
}

.v-overlap {
  grid-row: span 3;
  background-color: grey;
}

.v-top-inter {
  border-bottom: 5px solid;
}

.h-blank {
  background-color: yellowgreen;
  grid-column: span 1;
  grid-row: span 2;
}

.v-blank {
  grid-column: span 2;
  grid-row: span 1;
}
